<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paper Archive • {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block header %}{% endblock %}
</head>
<body>
    <header>
        <div class="img">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li> | 
                <li><a href="/upload">Upload</a></li> | 
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>
    </header>
        {% block content %}
        {% endblock %}
    <footer>
        <div>
            <p>© 2024 Kavyansh Bagdi | Udaipur Rajasthan</p>
            <p>kavyanshbagdi224@gmail.com</p>
            <ul>
                <li><a href="https://discordapp.com/users/kavyansh324" target="_blank">Discord</a></li>
                <li><a href="https://github.com/Kavyansh-Bagdi" target="_blank">Github</a></li>
                <li><a href="https://www.linkedin.com/in/kavyansh-bagdi/" target="_blank">Linkedin</a></li>
                <li><a href="https://leetcode.com/u/kavyanshbagdi224/" target="_blank">LeetCode</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>