<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paper Archive • {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block header %}{% endblock %}
</head>
<body>
    <header>
        <div class="img">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li> | 
                <li><a href="/upload">Upload</a></li> | 
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>
    </header>
        {% block content %}
        {% endblock %}
    <footer>
        <div></div>
    </footer>
</body>
</html>